# Data analysis
pandas==0.23.4
xlrd >= 0.9.0
numpy
scipy
sklearn
pybedtools

# Graphs
networkx
python-louvain
pcst_fast>=1.0.6

# Plotting
matplotlib
seaborn
pyGenomeTracks

# Notebooks
jupyter

# Additional analysis modules
goenrich==1.10.2
rpy2